<div class="row">
    <div class="col-md-4 col-md-push-8">
        <h4>Date</h4> 
        <div class="form-inline">
            <form ng-submit="updateSpecificDate()">
                <input class="form-control" ng-model="formattedDate" value="{{formattedDate}}"/>
                <div class="btn-group">
                    <label class="btn btn-default" ng-click="updateDate(beforeDate)">&nbsp<span class="glyphicon glyphicon-arrow-left"></span> </label>
                    <label class="btn btn-default" ng-click="updateDate(date)"> Today </label>
                    <label class="btn btn-default" ng-click="updateDate(afterDate)"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp </label>
                </div>
            </form>

        </div>
        <h4>Sources </h4>
        <label ng-repeat="s in sources | orderBy:'name'" ng-click="updateSource(s, !s.display)">
            <span ng-if="s.display" class="btn btn-primary">{{s.name}}</span>
            <span ng-if="!s.display" class="btn btn-default">{{s.name}}</span>
        </label> 
        <p>
        <div class="btn-group">
            <label class="btn btn-default" ng-click="updateAllSources()"> All </label>
            <label class="btn btn-default" ng-click="updateNoneSources()"> None </label>
        </div>

        Displayed : {{filtered.length}} / {{news.length}}
        </p>
        <h4>Search</h4>
        <div class="form-inline">
            <input class="form-control" placeholder="#" ng-model="query"/>
            <span class="btn btn-default" ng-click="updateSearch('')">&nbsp<span class="glyphicon glyphicon-remove"></span>&nbsp</span>
        </div>

        <h4>Keywords</h4>
        <span ng-repeat="k in keywords" ng-click="updateSearch(k.value)" style="font-size: {{k.count*0.7+10}}px;"> <a>{{k.value}}</a></span>

        <!--
            <h4> Email / Profile </h4>
            <div class="form-inline">
            <input ng-keyup="$event.keyCode == 13 && updateProfile()" class="form-control" ng-model="email" placeholder="'geek'/'all' + ENTER" />
            </div>
        -->
    </div>
    <div class="col-md-8 col-md-pull-4">
        <table name="top" class="table table-striped">
            <th>Time</th>
            <th>Source</th>
            <th ng-if="!isMobile()">Image</th>
            <th>Title</th>
            <!--
                <th>Tag</th>
            -->
            <tr ng-repeat="n in news | filter:query | sourcesFilter:this | orderBy:'-date' as filtered">
                <td>{{n.time}}</td>
                <td>{{n.source}}</td>
                <td ng-if="!isMobile()">
                    <div ng-if="n.image_link !=''"><a href="{{n.link}}" target="_blank"><img ng-src="{{n.image_link}}" height="45"/></a></div>
                    <div ng-if="n.image_link ==''">-</div>
                </td>
                <td><a ng-click="updateUser(n)" href="{{n.link}}" target="_blank" >{{n.title}}</a></td>
                <!--
                    <td><button class="btn btn-default btn-xs" ng-repeat="w in n.title.split(' ') | tagFilter:this" ng-click="updateSearch(w)">#{{w}} </button></td>
                -->
            </tr>
        </table>
    </div>

</div><!--ROW-->
<div>
    <a href="#top"><span class="glyphicon glyphicon-arrow-up"></span>Go To Top</a>
</div>



